{
  "parser": "@typescript-eslint/parser",
  "env": {
    "commonjs": true,
    "es6": true,
    "es2020": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2019
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-inferrable-types": 0,
    "@typescript-eslint/no-non-null-assertion": 0
  }
}
